body{
    font-family: "Roboto", serif;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

span{
    color: #4d5ae5;
}

.logo{
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 18px;
}